html {
  background-image: url("img/80_s_style_neon_sunset_by_jackb44_de4u5vj-fullview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.screen {
  height: 80px;
  width: 240px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #fff;
  border-radius: 15%;

  font-size: 2rem;
  text-align: right;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.keys {
  width: 300px;
}
.top-row input {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}
.bottom-row input {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

.btn,
.operator,
.borrar {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: #01c5e7b5;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.operator:hover,
.borrar {
  background-color: #ddd;
}
.operator,
.borrar {
  background-color: #f5a623;
  color: #fff;
}
.operator,
.borrar {
  background-color: #e830d0ce;
  color: #fff;
}
.operator,
.borrar:hover {
  background-color: #e6911c;
}

.btn:last-child {
  flex-grow: 1;
  margin-left: 5px;
}

.btn:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
